.container{
    max-width: 1000px;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: greenyellow;
}
/* sekancios klases ispozicionuoja elementus per viduri */
.center-element{
    display: block;
    margin: 0 auto;
}

.min-width-400{
    min-width: 400px;
}

.max-width-700{
    max-width: 700px;
}

.min-height-400{
    min-height: 400px;
}

.max-height-700{
    max-height: 700px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid black;
}
.positioning-flex{
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px */
    column-gap: 10px;
    row-gap: 25px;
    justify-content: space-around;
}
.last{
    position: relative;
    top: 20px;
    bottom: -20px;
}

section{
    height: 500px;
    background-color: chartreuse;
    margin-top: 80px;
    position: relative;
}
#absolute{
    background-color: yellow;
    position: absolute;
    right: 0px;
    top: 0px;
}

.center{
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
